<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
        default-init-method="afterPropertiesSet"
        default-destroy-method="destroy">

    <bean id="wordBean" class="space.cyclic.reference.WordBean">
        <property name="word" value="Bird"/>
    </bean>

    <bean id="bestWordBean" class="space.cyclic.reference.WordBean">
        <constructor-arg value="AyyLmao"/>
    </bean>

    <bean id="asdfTemplate" abstract="true">
        <property name="referenceOne" value="Die Potato"/>
        <property name="referenceTwo" value="Desmond The Moon Bear"/>
        <property name="referenceThree" value="You're getting mugged, kid."/>
    </bean>

    <bean id="tomSka" class="space.cyclic.reference.ASDFReferences" parent="asdfTemplate">
        <property name="referenceOne" value="Not today."/>
        <property name="referenceTwo" value="How did I get here?"/>
    </bean>

    <bean id="darkSquidge" class="space.cyclic.reference.ASDFReferences" parent="asdfTemplate">
        <property name="referenceThree" value="No, you're getting mugged."/>
    </bean>

    <bean id="theGovernmentIsBees" class="space.cyclic.reference.ASDFReferences" parent="asdfTemplate"/>

    <bean class="space.cyclic.reference.TrainingBeanPostProcess"/>

</beans>