<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
        default-init-method="afterPropertiesSet"
        default-destroy-method="destroy">

    <bean id="wordBean" class="space.cyclic.reference.WordBean">
        <property name="word" value="Bird"/>
    </bean>

    <bean id="bestWordBean" class="space.cyclic.reference.WordBean">
        <constructor-arg value="AyyLmao"/>
    </bean>

    <bean class="space.cyclic.reference.TrainingBeanPostProcess"/>

</beans>